* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}

:root {
  --verde: rgba(26, 254, 73, 1);
  --verde-2: rgba(26, 254, 73, 0.5);
--fundo: rgba(61, 67, 180, 1);
--escuro: rgba(4, 19, 72, 0.4);
--fundo-secundario: rgba(131, 134, 245, 0.4);
--azul: rgba(14, 118, 168, 0.4);
--verde-forte: rgba(8, 62, 18, 0.4);
--vermelho: rgba(134, 0, 41, 0.5);
--vermelho-2: rgba(134, 0, 41, 1);

  --fonte-principal: 'Kdam Thmor Pro', sans-serif;
  
  font-family: var(--fonte-principal);

  
}

body{
  background-color: var(--fundo);
  
}

#root {
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2, h3, p {
  font-weight: 700;
  color: white;
}

h1{
  color: var(--verde);
}
