* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde: #1afe49;
  --fundo: #3d43b4;
  --escuro: #041348;
  --fundo-secundario: #8386f5;
  --azul: #0e76a8;
  --verde-forte: #083e12; 
  --vermelho: #860029;
  --fonte-principal: 'Kdam Thmor Pro', sans-serif;
  
  font-family: var(--fonte-principal);
}

body{
  background-color: var(--fundo);
  
}

#root {
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2, h3, p {
  font-weight: 700;
  color: white;
}

h1{
  color: var(--verde);
}
